@{
    ViewData["Title"] = "Home Page";
}

<div class="container index-container">
    <div class="caption-container">
        <div class="caption-shadow">SC STATISTIC SERVICE</div>
        <div class="subcaption-shadow">created by LaHaine</div>
    </div>
    
    <div class="functional-list">
            <div class="list-title">Функционал сервиса</div>
        <div class="functional-list-container">
            <ul class="centered-ul">
                <li class="li-func">Оповещение пользователей о происходящих изменениях с возможностью фильтрации
                    <ul>
                        <li class="subli-func">&#8226; Смена никнейма игроком</li>
                        <li class="subli-func">&#8226; Смена названия или тега корпорацией</li>
                        <li class="subli-func">&#8226; Смена игроком корпорации</li>
                    </ul>
                </li>
                <li class="li-func">Предоставление сохраненной истории изменений никнеймов и корпораций отслеживаемых игроков</li>
                <li class="li-func">Предоставление информации о корпорациях (включая активных игроков в составе)</li>
                <li class="li-func">Отслеживание сессионной PvP-статистики игроков</li>
                <li class="li-func">Автоматическое обновление данных об игроках/корпорациях каждые 8 часов</li>
            </ul>
        </div>
    </div>

</div>
